BookstoreRef.Service/Connected Services/MyService/BookstoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookstoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2695/BookstoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2695/BookstoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2695/BookstoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookstoreApp" />
      <xsd:import schemaLocation="http://localhost:2695/BookstoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Bookstore.Interface" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookstoreService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_GetBookAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookAsync" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_GetBookAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_UpdateBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBooks" />
  </wsdl:message>
  <wsdl:message name="IBookstoreService_UpdateBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookstoreService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookstoreService/GetData" message="tns:IBookstoreService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookstoreService/GetDataResponse" message="tns:IBookstoreService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookstoreService/GetDataUsingDataContract" message="tns:IBookstoreService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookstoreService/GetDataUsingDataContractResponse" message="tns:IBookstoreService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookstoreService/GetBooks" message="tns:IBookstoreService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookstoreService/GetBooksResponse" message="tns:IBookstoreService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookstoreService/GetBookAsync" message="tns:IBookstoreService_GetBookAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookstoreService/GetBookAsyncResponse" message="tns:IBookstoreService_GetBookAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookstoreService/AddBook" message="tns:IBookstoreService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookstoreService/AddBookResponse" message="tns:IBookstoreService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookstoreService/UpdateBook" message="tns:IBookstoreService_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookstoreService/UpdateBookResponse" message="tns:IBookstoreService_UpdateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookstoreService/DeleteBook" message="tns:IBookstoreService_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookstoreService/DeleteBookResponse" message="tns:IBookstoreService_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookstoreService/UpdateBooks" message="tns:IBookstoreService_UpdateBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookstoreService/UpdateBooksResponse" message="tns:IBookstoreService_UpdateBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookstoreService" type="tns:IBookstoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IBookstoreService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IBookstoreService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IBookstoreService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookAsync">
      <soap:operation soapAction="http://tempuri.org/IBookstoreService/GetBookAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IBookstoreService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="http://tempuri.org/IBookstoreService/UpdateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IBookstoreService/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBooks">
      <soap:operation soapAction="http://tempuri.org/IBookstoreService/UpdateBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookstoreService">
    <wsdl:port name="BasicHttpBinding_IBookstoreService" binding="tns:BasicHttpBinding_IBookstoreService">
      <soap:address location="http://localhost:2695/BookstoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>